name: Build Unity package
on: workflow_dispatch
jobs:
  windows:
    name: Build native binaries for Windows
    runs-on: windows-2022
    defaults:
      run:
        shell: cmd
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Build V8
      continue-on-error: true
      run: |
        path C:\Windows\System32;C:\Windows;C:\Windows\System32\WindowsPowerShell\v1.0;C:\Program Files\Git\bin
        call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\VsDevCmd.bat"
        V8Update.cmd
    - name: Dump Logs
      run: |
        type V8\build\v8\gn-x64-Release.log
        type V8\build\v8\build-x64-Release.log
        type V8\build\v8\gn-arm64-Release.log
        type V8\build\v8\build-arm64-Release.log
    - name: Build ClearScript
      run: |
        path %PATH%;C:\Program Files\Microsoft Visual Studio\2022\Enterprise\MSBuild\Current\Bin
        msbuild -t:Restore;Build -p:Configuration=Release -m ClearScript.sln
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: windows-binaries
        if-no-files-found: error
        path: |
          bin\Release\netstandard2.1\ClearScriptV8.win-x64.dll
          bin\Release\netstandard2.1\ClearScriptV8.win-arm64.dll
          bin\Release\netstandard2.1\ClearScript.V8.ICUData.dll
          bin\Release\netstandard2.1\ClearScriptV8.win-x64.pdb
          bin\Release\netstandard2.1\ClearScriptV8.win-arm64.pdb
          bin\Release\netstandard2.1\ClearScript.V8.ICUData.pdb
  linux:
    name: Build native binaries for Linux
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Install ARM64 cross-build tools
      run: |
        sudo apt-get update
        sudo apt-get install -y g++-10-aarch64-linux-gnu
    - name: Build
      run: |
        make -f Unix/Makefile
        make -f Unix/Makefile CPU=arm64
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: linux-binaries
        if-no-files-found: error
        path: |
          bin/Release/Unix/ClearScriptV8.linux-x64.so
          bin/Release/Unix/ClearScriptV8.linux-arm64.so
  macos:
    name: Build native binaries for macOS
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Build
      run: |
        make -f Unix/Makefile CPU=arm64
        make -f Unix/Makefile CPU=x64
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: macos-binaries
        if-no-files-found: error
        path: |
          bin/Release/Unix/ClearScriptV8.osx-x64.dylib
          bin/Release/Unix/ClearScriptV8.osx-arm64.dylib