name: Test
on: push
jobs:
    test:
        name: Test
        runs-on: ubuntu-24.04
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                ssh-key: ${{ secrets.DEPLOY_KEY }}
            - name: Commit
              run: |
                date > date.txt
                git config set user.name GitHub Actions
                git config set user.email actions@github.invalid
                git add date.txt
                git commit -m "Test"
                git push